<li class="{{queryActive}}">
    <a href="#/query" target="_blank">
        <i class="icon-search"></i>
        <span class="menu-text">查询</span>
    </a>
</li>
<li class="{{queryHistoryActive}}">
    <a href="#/query-history" target="_blank">
        <i class="icon-book"></i>
        <span class="menu-text">历史查询</span>
    </a>
</li>
<li class="{{createTableActive}}">
    <a href="#/create-table" target="_blank">
        <i class="icon-certificate"></i>
        <span class="menu-text">创建临时表上传数据</span>
    </a>
</li>
<li class="{{jobTrackerActive}}">
    <a href="http://10.2.6.101:8088/cluster" target="_blank">
        <i class="icon-external-link"></i>
        <span class="menu-text">Hadoop Cluster</span>
    </a>
</li>
<li class="{{sparkMasterActive}}">
    <a href="http://10.2.6.152:8080" target="_blank">
        <i class="icon-external-link"></i>
        <span class="menu-text">Spark Master</span>
    </a>
</li>
<li class="{{helpActive}}" ng-click="change_help_state()">
    <a href="#/help" >
        <i class="icon-question"></i>
        <span class="menu-text">使用帮助 </span>
    </a>
</li>
<li class="{{feedbackActive}}" ng-click="change_feedback_state()">
    <a href="#/feed-back">
        <i class="icon-comments"></i>
        <span class="menu-text">意见反馈 </span>
    </a>
</li>
